@using MarketWeb.Shared.DTO
@using ClientWebApplication.Models
@using System.Collections
@model MainModel
@using ClientWebApplication.Views.Shared

@{
    @if (LayoutConfig.IsLoggedIn)
    {
        Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
    }
    else if (LayoutConfig.IsAdmin)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutGuest.cshtml";
    }
    ViewData["Title"] = "My Messages";
}

<div class="text-center">
    <h1 class="display-4">@((ViewData["visitor"] as RegisteredDTO).Username)'s Messages</h1>
    <br />
    <br />
</div>
<br />

<h2>Messages From Market Admins:</h2>
@if (((ViewData["visitor"] as RegisteredDTO).AdminMessages).Count == 0)
{
    <p>No admin messages to display.</p>
}
else
{
    <table style="width:100%" class="table">
        <tr>
            <th style="width:20%"><h4>Sender Username</h4></th>
            <th style="width:20%"><h4>Title</h4></th>
            <th style="width:60%"><h4>Message</h4></th>
        </tr>
        @foreach (AdminMessageToRegisteredDTO message in (ViewData["visitor"] as RegisteredDTO).AdminMessages)
        {
            <tr>
                <th style="width:20%">@message.senderUsername</th>
                <th style="width:20%">@message.Title</th>
                <th style="width:60%">@message.Message</th>
            </tr>
        }
    </table>
}
<br />
<h2>Replies From Store:</h2>
@if (((ViewData["visitor"] as RegisteredDTO).RepliedMessages).Count == 0)
{
    <p>No store replies to display.</p>
}
else
{
    <table style="width:100%" class="table">
        <tr>
            <th style="width:15%"><h4>Store Name</h4></th>
            <th style="width:15%"><h4>Replier Username</h4></th>
            <th style="width:10%"><h4>Title</h4></th>
            <th style="width:30%"><h4>Your Message</h4></th>
            <th style="width:30%"><h4>Reply</h4></th>
        </tr>
        @foreach (MessageToStoreDTO message in (ViewData["visitor"] as RegisteredDTO).RepliedMessages)
        {
            <tr>
                <th style="width:15%">@message.StoreName</th>
                <th style="width:15%">@message.Replier</th>
                <th style="width:10%">@message.Title</th>
                <th style="width:30%">@message.Message</th>
                <th style="width:30%">@message.Reply</th>
            </tr>
        }
    </table>
}
<br />
<h2>Notifications From Store:</h2>
@if (((ViewData["visitor"] as RegisteredDTO).NotifyMessages).Count == 0)
{
    <p>No store notifications to display.</p>
}
else
{
    <table style="width:100%" class="table">
        <tr>
            <th style="width:20%"><h4>Store Name</h4></th>
            <th style="width:20%"><h4>Title</h4></th>
            <th style="width:60%"><h4>Message</h4></th>
        </tr>
        @foreach (NotifyMessageDTO message in (ViewData["visitor"] as RegisteredDTO).NotifyMessages)
        {
            <tr>
                <th style="width:20%">@message.StoreName</th>
                <th style="width:20%">@message.Title</th>
                <th style="width:60%">@message.Message</th>
            </tr>
        }
    </table>
}