@model MainModel
@using MarketWebProject.DTO
@{
    if (Model.IsGuest)
        Layout = "~/Views/Shared/_LayoutGuest.cshtml";
    else if (Model.IsLoggedIn)
        Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
    else
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Item Search Result";
}
<div class="text-center">
    <h1 class="display-4">Item @((ViewData["item"] as ItemDTO).Name) Page</h1>
    <br />
    <br />
<div/>
<br />
<h1 style="text-align:left;font-size:200%;">item price:</h1>
<p style="text-align:left;font-size:160%;">$ @(String.Format("{0:0.00}", (ViewData["item"] as ItemDTO).Price))</p>
<br />
<h1 style="text-align:left;font-size:200%;"> item category: </h1> 
<p style="text-align:left;font-size:160%;"> @((ViewData["item"] as ItemDTO).Category)</p>
<br />
<h1 style="text-align:left;font-size:200%;"> item description: </h1>
<p style="text-align:left;font-size:160%;"> @((ViewData["item"] as ItemDTO).Description)</p>
    <!-- add button for adding this item to cart -->
<br />
<br />
<h1 style="text-align:left;font-size:200%;">Item Ratings and Comments: </h1>

@if ((ViewData["item"] as ItemDTO).Rating.Ratings.Count > 0)
{
    Dictionary<String, Tuple<int, String>> rating = (ViewData["item"] as ItemDTO).Rating.Ratings; 
        <table class="table">
            <thead>
                <tr>
                <th>User name</th>
                <th>Rating Score</th>
                <th>Review</th>
                </tr>
            </thead>
            <tbody>
            @foreach (String userName in rating.Keys)
            {

                    <tr>
                        <td>@userName</td>
                        <td>@rating[userName].Item1</td>
                        <td>@rating[userName].Item2</td>
                    </tr>
            }

            <tbody />
        </table>
}
else
{
<p style="text-align:left;font-size:160%;">no one has rated this item yet..</p>
}
