@using MarketWebProject.DTO
@using MarketWebProject.Models
@using System.Collections
@model MainModel
@using MarketWebProject.Views.Shared

@{
    @if (LayoutConfig.IsLoggedIn)
    {
        Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
    }
    else if (LayoutConfig.IsAdmin)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutGuest.cshtml";
    }
    ViewData["Title"] = "My Messages";
}

<div class="text-center">
    <h1 class="display-4">@((ViewData["visitor"] as RegisteredDTO).Username)'s Messages</h1>
    <br />
    <br />
</div>
<br />

<h2>Messages From Market Admins:</h2>
@if (((ViewData["visitor"] as RegisteredDTO).AdminMessages).Count == 0)
{
    <p>No admin messages to display.</p>
}
else
{
    <table style="width:100%" class="table">
        <tr>
            <th><h3>Sender Username</h3></th>
            <th><h3>Title</h3></th>
            <th><h3>Message</h3></th>
        </tr>
        @foreach (AdminMessageToRegisteredDTO message in (ViewData["visitor"] as RegisteredDTO).AdminMessages)
        {
            <tr>
                <th>@message.senderUsername</th>
                <th>@message.Title</th>
                <th>@message.Message</th>
            </tr>
        }
    </table>
}
<br />
<h2>Replies From Store:</h2>
@if (((ViewData["visitor"] as RegisteredDTO).RepliedMessages).Count == 0)
{
    <p>No store replies to display.</p>
}
else
{
    <table style="width:100%" class="table">
        <tr>
            <th><h3>Store Name</h3></th>
            <th><h3>Title</h3></th>
            <th><h3>Message</h3></th>
            <th><h3>Replier Username</h3></th>
            <th><h3>Reply</h3></th>
        </tr>
        @foreach (MessageToStoreDTO message in (ViewData["visitor"] as RegisteredDTO).RepliedMessages)
        {
            <tr>
                <th>@message.StoreName</th>
                <th>@message.Title</th>
                <th>@message.Message</th>
                <th>@message.Replier</th>
                <th>@message.Reply</th>
            </tr>
        }
    </table>
}
<br />
<h2>Notifications From Store:</h2>
@if (((ViewData["visitor"] as RegisteredDTO).NotifyMessages).Count == 0)
{
    <p>No store notifications to display.</p>
}
else
{
    <table style="width:100%" class="table">
        <tr>
            <th><h3>Store Name</h3></th>
            <th><h3>Title</h3></th>
            <th><h3>Message</h3></th>
        </tr>
        @foreach (NotifyMessageDTO message in (ViewData["visitor"] as RegisteredDTO).NotifyMessages)
        {
            <tr>
                <th>@message.StoreName</th>
                <th>@message.Title</th>
                <th>@message.Message</th>
            </tr>
        }
    </table>
}