@model MainModel
@using MarketWebProject.DTO
@using MarketWebProject.Views.Shared

@{
    @if (LayoutConfig.IsLoggedIn)
    {
        Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
    }
    else if (LayoutConfig.IsAdmin)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutGuest.cshtml";
    }
    ViewData["Title"] = "Store Page";
}

<div class="text-center">
    <h1 class="display-4">Store @((ViewData["store"] as StoreDTO).StoreName) Page</h1>
    <br />
    <br />
</div>
<br />


<h2>Our Items:</h2>
@if ((ViewData["store"] as StoreDTO).Stock.Items.Count==0)
{
    <font color="red"><b> this store doesn't have any items yet...</b></font>
}
else
{
    IDictionary<ItemDTO, int> stock_dictionary = (ViewData["store"] as StoreDTO).Stock.Items;
    <table class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Price</th>
                <th>View Item Button</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ItemDTO item in stock_dictionary.Keys)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>
                        <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="ItemPage" asp-route-storename="@(item.StoreName)" asp-route-itemId="@item.ItemID">View @item.Name Page</a>
                    </td>
                </tr>
            }
        <tbody />
    </table>
}



<h1 style="font-size:200%;">Store Ratings and Comments: </h1>

@if ((ViewData["store"] as StoreDTO).Rating.Ratings.Count > 0)
{
    Dictionary<String, Tuple<int, String>> rating = (ViewData["store"] as StoreDTO).Rating.Ratings;
    <table class="table">
        <thead>
            <tr>
                <th>User name</th>
                <th>Rating Score</th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
            @foreach (String userName in rating.Keys)
            {
                <tr>
                    <td>@userName</td>
                    <td>@rating[userName].Item1</td>
                    <td>@rating[userName].Item2</td>
                </tr>
            }
        <tbody />
    </table>
}
else
{
    <p style="font-size:160%;">no one has rated this store yet..</p>
}
<!-- add review button-->